@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900,1000");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,1000");
/*
  green #46ab6a;
  black #3e4649;
*/
body, html, #container1 {
  background-color: #F9F9F9;
}
#container1 {
  padding: 50px 0px ;
}
#inverted {
  background-color: rgb(0, 126, 185);
  padding: 50px 0px;
}
#h1 {
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
  text-align: center;
}
#hr {
  border: none;
  border-bottom: 4px white solid;
  margin: 35px 0px;
}
#myCarousel {
  width: 70%;
  margin: auto;
}
#invert {
  color: #F9F9F9;
}
.header-container {
  background-color: rgba(0,0,0,0.2);
  padding: 20px 0px;
}
#link {
  position: relative;
  color: rgb(0, 126, 185);
  font-weight: bold;
  text-decoration: none;
}
#link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 126, 185);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#link-invert {
  position: relative;
  color: #F9F9F9;
  font-weight: bold;
  text-decoration: none;
}
#link-invert:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f9f9f9;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#link-invert:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#button {
  opacity: 0.8;
  border: 3px white solid;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
}
#button:hover, #button:not(hover) {
  transition: all ease 0.5s;
}
#button:hover {
  background-color: white;
  color: rgb(0, 126, 185);
  box-shadow: 0 0 10px rgba(0,0,0,.12), 0 10px 10px rgba(0,0,0,.24);
}
#button-invert {
  opacity: 0.8;
  border: 3px rgb(0, 126, 185) solid;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
}
#button-invert:hover, #button-invert:not(hover) {
  transition: all ease 0.5s;
}
#button-invert:hover {
  background-color: rgb(0, 126, 185);
  color: white;
  box-shadow: 0 0 10px lightgray, 0 10px 10px lightgray;
}
#navbar {
  background-color: #F9F9F9;
  margin: 0px;
  border: none;
  font-family: Roboto;
}
#navbar  a {
  color: rgb(0, 126, 185);
}
#navbar-item:hover {
  background-color: #eceaea;
  transition: all ease 0.5s;
}
#navbar-item:not(hover){
  transition: all ease 0.5s;
}
#navbar .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #eceaea;
}
#jumbotron {
  background: linear-gradient(rgba(2, 126, 185, 0.4),rgba(0, 126, 185, 0.5)), url(https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg);
  margin-bottom: 0px;
  text-align: center;
  background-size: 100%;
  background-position-y: 70%;
}
#heading {
  font-weight: 700;
  font-family: Montserrat;
  color: #F9F9F9;
  margin-bottom: 25px;
}
#paragraph-jumbotron {
  font-weight: 300;
  font-family: Roboto;
  font-size: 18px;
  margin: 0% 10%;
  color: white;
}
#paragraph {
  font-weight: 300;
  font-family: Roboto;
  font-size: 18px;
  color: #191919;
}
#paragraph1 {
  font-weight: 300;
  font-family: Roboto;
  font-size: 18px;
  color: #191919;
  text-align: left;
}
#paragraph-invert {
  font-weight: 300;
  font-family: Roboto;
  font-size: 18px;
  color: #f9f9f9;
}
b {
  color: rgb(0, 126, 185);
}
#container1 h3 {
  color: rgb(0, 126, 185);
}
#bold {
  font-weight: 700;
  color: rgb(0, 126, 185);
}
#bold-invert {
  font-weight: 700;
  color: #f9f9f9;
}
#button {
  margin: 5px;
  color: #F9F9F9;
}
.col-md-4, .col-md-6 {
  text-align: center;
  color: #F9F9F9;
}
.footer{
	background-color: rgb(0, 126, 185);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer .footer-left p{
	color:  #ffffff;
	font-size: 14px;
	margin: 0;
}
.footer p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}
.footer p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}
.footer .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #0388c7;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}
.footer-right a:hover {
	background-color:  #0373a9;
  transition: all ease 0.5s;
}
.footer-right a:not(hover) {
  transition: all ease 0.5s;
}
@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
@media screen and (max-width: 555px) {
   #jumbotron {
     background-size: 100% 100%;
   }
}
@media screen and (max-width: 992px) {
    .col-md-6 {
       width: 70%;
       margin: auto;
       text-align: center;
    }
    #computer {
       width: 60%;
    }
    #paragraph1 {
      text-align: center;
    }
}
